body {
	padding: 0px;
	margin: 0%;
	background-image: url("/img/slider-01.jpg");
}
a#booking-status-tab.nav-link, a#rent-a-vehicle-tab.nav-link, a#first-tab.nav-link {
	margin-left: 2rem;
	color: #110D05;
}
/* ul.nav.nav-pills.justify-content-center.mb-5 li{
	display: inline-block;
} */
a#booking-status-tab.nav-link.active,
a#rent-a-vehicle-tab.nav-link.active,
a#first-tab.nav-link.active {
	margin-left: 2rem;
	background: #AB987A;
	border-radius: 0px;
	padding: 1.5rem;
	color: #ffffff;
}

div.dash{
	height: 3px;
	background: #AB987A;
	width: 60%;
}
h4.features{
	color: #0F1626;
	font-weight: bold;
}
select.form-control, input.form-control{
	border-radius: 0px;
	box-shadow: #AB987A;
}
select.form-control:focus, input.form-control:focus{
	box-shadow: none;
	border-color: #AB987A;
}
li.nav-item a.nav-link{
	padding: 0px 5px !important; 
}
div.banner{
	height: 1000px;
	overflow: hidden;
}
section.booking-tab{
	padding: 5rem !important;
	margin-top: -2rem;
}
div.banner img{
	height: 300px;
}
.header-links {
	color: #efefef;
}
li {
	margin-right: 21px;
	padding: 13px;
}
.btn.btn-primary, .btn.btn-primary:active{
	background: coral;
	border-color: coral;
	border-radius: 0px;
}
.btn.btn-primary:hover{
	border-color: rgb(250, 106, 53);
	background: rgb(250, 106, 53);
}
.btn.btn-outline-primary{
	color: #0F1626;
	border-color: coral;
	border-radius: 0px;
}
.btn.btn-secondary{
	background: #0F1626;
	border-color: #0F1626;
	border-radius: 0px;
	box-shadow: none;
}
.btn.btn-secondary:hover{
	background: rgb(27, 37, 58);
	border-color: rgb(27, 37, 58);
}
.btn.btn-outline-secondary{
	border-radius: 0px;
}
.btn.btn-outline-primary:hover{
	background: coral;
	border-color: coral !important;
	box-shadow: none;
}
section.booking-tab.shadow-sm{
	background: #f5f5f5;
	padding: 3rem;
	margin-top: -2rem;
	z-index: 1099;
}
nav.navbar.navbar-expand-lg.fixed-top.navbar-light.bg-light {
	background-color: transparent !important;
	
}
@media (max-width: 992px){
	nav.navbar.navbar-expand-lg.fixed-top.navbar-light.bg-light {
		background-color: #ffffff !important;
		box-shadow: 0px 3px 5px rgba(0,0,0,0.15);
	}
}
@media (min-width: 768px){
	div.row.show-small{
		display: none;
	}
}
@media (max-width: 768px) {
	div.input-group-append.show-large {
		display: none;
	}
	a#booking-status-tab.nav-link,
	a#rent-a-vehicle-tab.nav-link,
	a#first-tab.nav-link {
		margin-left: 0rem !important;
		padding: 0.5rem 0rem !important;
		text-align: center;
		color: #110D05;
	}
	section.booking-tab.shadow-sm{
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
	h3.display-4.text-right.p-5{
		font-size: 30px;
		padding: 10px !important;
		text-align: center !important;
	}
	div.card:last-of-type{
		margin-top: 2rem;
	}
}